---
const { image, title, description, stl } = Astro.props;
---

<span class:list={["bg-white flex rounded-lg", stl]}>
    <img src={image} alt={title} class="w-72 h-full object-cover rounded-lg" />
    <span class="flex-col m-2">
        <h1 class="text-pretty text-lg font-bold p-1">{title}</h1>
        <p class="text-pretty font-mono text-sm p-1">{description}</p>
    </span>
</span>
