<footer class="flex justify-evenly p-4 bg-gray-50 text-white w-full">
    <span>
        <h1 class="font-semibold">Redes sociales</h1>
        <ul class="flex flex-col">
            <a href="#" class="hover:text-yellow-50 hover:cursor-pointer"
                >Facebook</a
            >
            <a href="#" class="hover:text-yellow-50 hover:cursor-pointer"
                >Instagram</a
            >
            <a href="#" class="hover:text-yellow-50 hover:cursor-pointer"
                >Twitter</a
            >
        </ul>
    </span>

    <button
        class="hover:bg-yellow-500 rounded-md px-4 py-2 bg-yellow-50 w-fit h-fit self-center"
    >
        <a href="/contact">Adherirse al partido</a>
    </button>

    <a
        class="hover:text-yellow-50 text-gray-700 self-center"
        href="https://github.com/joac001">Made by: joac001</a
    >
</footer>
